{% extends 'news/base.html' %}
{% load static %}

{% block content %}
<div class="news-container">
    {% if view_count %}
    <p>
        ページビュー回数: {{ view_count }}
    </p>
    {% endif %}
    <h2>最新のニュース</h2>

    <div class="articles">
        {% for article in articles %}
        <div class="article">
            <!-- 画像が存在する場合は表示し、ない場合は代替画像を表示 -->
            {% if article.urlToImage %}
                <img src="{{ article.urlToImage }}" alt="記事画像" class="article-image">
            {% else %}
                <img src="{% static 'images/no.png' %}" alt="デフォルト画像" class="article-image">
            {% endif %}

            <div class="article-body">
                <h3>{{ article.title }}</h3>
                <p>{{ article.description }}</p>
            </div>

            <div class="article-footer">
                <a href="{{ article.url }}" class="read-more">続きを読む</a>
            </div>
        </div>
        {% empty %}
        <p>ニュースが見つかりませんでした。</p>
        {% endfor %}
    </div>

    <!-- ページネーション -->
    <div class="pagination">
        {% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}{% if query %}&query={{ query }}{% endif %}">前のページ</a>
        {% endif %}
        <span>ページ {{ articles.number }} / {{ articles.paginator.num_pages }}</span>
        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}{% if query %}&query={{ query }}{% endif %}">次のページ</a>
        {% endif %}
    </div>
</div>
{% endblock %}
